.title{
    font-size: 40px;
}
.sub title{
    font-size: 30px;
}
.bt{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: aliceblue;
    background-color: aquamarine;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.bt:hover{background-color: aquamarine;}

.bt:active{
    background-color: aqua;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}